body{
    margin: 0%;
    background-color: blue;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 70vh 20vh;
    grid-gap: 1cap;
}

header{
    background-color: pink;
    grid-column: 1/4;
}

main{
    background-color: green;
    grid-column: 1/3;
}

aside{
    background-color: rgb(255, 0, 191);
    grid-column: 3/4;
}

footer{
    background-color: yellow;
    grid-column: 1/4;
}