<!DOCTYPE html>
<html>
    <head>
        <body>
            <header>
                <a href="index.html">Home</a>
                <a href="index.html">Home</a>
                <meta charset='utf-8'>
                <title>Cadastro</title>
                <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro.css'>
                <script src='../script/cadastro.js'></script>
            </header>
            <section>
                <h1 class="title"> Cadastra-se </h1>
                <div>
                    <form>
                        <label for="name">Nome: </label>
                        <input type="text" name="name" id="name"/>

                        <label for="email">E-mail: </label>
                        <input type="email" name="email" id="email"/>

                        <label for="password">Senha: </label>
                        <input type="password" name="password" id="password"/>

                        <label for="cpf_cnpj">CPF CNPJ: </label>
                        <input type="text" name="cpf_cnpj" id="cpf_cnpj"/>

                        <label for="birthday">Data de nascimento: </label>
                        <input type="date" name="birthday" id="birthday"/>
                        
                        <label for="terms">Termos: </label>
                        <input type="checkbox" name="terms" id="terms"/>
                        
                        <input id = "btn-cadastro" type="button" value="Cadastra-se" onclick="cadastro()"/>
                    </form>
                </div>
            </section>
        </body>
    </head>
</html>