<!DOCTYPE html>
<html>
    <head>
        <body>
            <header>
                
                
                
               
                <meta charset='utf-8'>
                <title>Cadastro</title>
                <link rel='stylesheet' type='text/css' media='screen' href='../css/cadastro.css'>
                <script src='../script/cadastro.js'></script>
            </header>
            <section>
                <div class="home">
                <a href ="home.html">Home</a>
            </div>
                <div class="container">
                    <div class="form-img">
                        <img src="bannersaopaulo.png" alt="Seja Sócio torcedor" width="900px" class="imgg">
                    </div>
                   <div class="form">
                    <form>
                        <div class="form-header">
                            <div class="title">
                                <h1>Cadastra-se</h1>
                            </div>
                           
                            </div>
                            <div class="input-group">
                                <div class="input-box">
                                    
                                    
                                    <label for="name">Nome: </label>
                                    <input type="text" name="name" id="name"/>
                                </div>
                                
                                <div class="input-box">
                                    <label for="email">E-mail: </label>
                                    <input type="email" name="email" id="email"/>
                                </div>
                                
                                <div class="input-box">
                                    <label for="password">Senha: </label>
                                    <input type="password" name="password" id="password" />
                                </div>
                                
                                <div class="input-box">
                                    <label for="cpf_cnpj">CPF CNPJ: </label>
                                    <input type="text" name="cpf_cnpj" id="cpf_cnpj"/>
                                </div>
                                
                                <div class="input-box">
                                    <label for="birthday">Data de nascimento: </label>
                                    <input type="date" name="birthday" id="birthday"/>
                                    
                                </div>
                                <div class="input-box">
                                    <label for="terms">Termos: </label>
                                <input type="checkbox" name="terms" id="terms"/>
                                
                            </div>
                            </div>
                           
                            <div class="continue-bottom">
                                <button><a href="#">continuar</a>
                            </button>
                            </div>
                        
                            </form>
                </div>
            </section>
        </body>
    </head>
</html>